@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Montserrat:wght@200&family=Oswald:wght@300&family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

/* font-family: 'BIZ UDPMincho', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
    --primary-color: #8b5cf6;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* container */

.container {
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Link  */
.link {
    text-decoration: none;
    padding: 4px 8px;

}

.primary-link {
    background-color: black;
    color: white;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
}

.primary-link:hover{
    background-color: rgb(253, 254, 255);
    color: black;
    border: 2px solid black;
    box-shadow: 1px 1px 5px 2px rgb(85, 0, 255);
}
.secondary-link:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 1px 1px 5px 2px rgb(85, 0, 255);
}



.secondary-link {
    background-color: white;
    color: black;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;
}

hr {
    margin: 1rem 0rem;
}

/* list  */

.nb {
    list-style: none;
}

.list-i {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.port{
    margin: auto;
}
.navigation {
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navbrand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation li a {
    color: aliceblue;
}

.lnb {
    text-align: center;
}

/* header  */

.hero {
    padding: 1rem;
}

.hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-head {
    font-size: 4rem;
    padding-top: 0rem;
    font-weight: bolder;
    color: rgb(79, 34, 96);
    text-align: center;
}

.hero-s {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: bolder;
}


/* section  */
.section{
    margin: auto;
    border: 2px solid black;
    border-radius:1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem 1rem;

    font-family: 'Montserrat', sans-serif;

}

.section:hover{
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0);
    background-color: azure;

    font-family: 'Roboto', sans-serif;

}
.ow-section:hover{
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0);
    border: 2px solid black;
    background-color: rgba(82, 82, 82, 0.537);

    font-family: 'Roboto Mono', monospace;

}

.section h1 {
    text-align: center;
    padding: 0.5rem 1rem;
}

.ow-section{
    /* text-align: center; */
    margin: auto;
    background-color: rgba(64, 61, 105, 0.489);
    border-radius:1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.ow-section h1{
    text-align: center;
}

.f-list{
    list-style: none;
}

.footer-head{
    background-color: rgba(67, 63, 75, 0.546);
    padding: 1rem 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: larger;
    text-align: center;
}

.f-list .list-i .link{
    font-size: medium;
}

.f-image{
    height: 30px;
    width: auto;
    border-radius: 5px;
    filter: invert(100%);

}

}

